/* ---------------------- FONTS ---------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

  *{
    margin: 0;
}
/* --------------------- HEADER AND GLOWING TEXT --------------------- */
header {
    padding: 20px;
    text-align: center;
    background-color:  #04040d;
    width: 100%;
    border-bottom: 2px solid black;
    box-shadow: #0a0a15;
}

.glowing{
    color: #9999ff;
    transition: 1s all ease;
    animation: glow-1 1.3s infinite;
    text-shadow: 2px 2px 2px #260033;

}

@keyframes glow-1 {
    0%,
    100% {
        color: #884dff;
        text-shadow: 2px 2px 2px #9900cc;
    }
    50%{
        color: #9999ff;
        text-shadow: 2px 2px 2px #260033;
    }
}


/* --------------------- BODY --------------------- */

body {
    font-family: 'Montserrat', sans-serif;
    /*display: flex;
    flex-direction: column;*/
    align-content: center;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #0d0d0d;
    color: #c4c4c4;
}

main {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.ChooseQuiz {
    font-family: 'Poppins', sans-serif;
    padding: 30px 7px 7px 5px; /* top - right - bottom - left */
    margin: 30px;
    border: 1px solid black;
    border-radius: 5px;
    width: 300px;
    height: 300px;
    background-color:#070707;
    transition: 0.3s;
    outline: none;
    text-decoration: none;
}

.ChooseQuiz:hover {
    margin-top: 20px;
    box-shadow: 0 0 20px #0a0a21;
}

.ChooseQuiz img {
    margin-top: 40px;
    width: 60%;
    height: 60%;
}

a {
    width: 100%;
    height: 100%;
    outline: none;
    text-decoration: none;
    color: #9999ff;
}

a:visited {
    outline: none;
    text-decoration: none;
}

/* ------------------------------ QUIZZES ---------------------- */
span{
    padding: 20px;
}

.btnq{
    float: left;
    margin-left: -75%;
    width: 100px;
    margin-top: -0%;

}



.Quiz {
    padding: 20px;
    margin-top: -2%;
    display: none;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    border: 1px solid #070707;
    width: 700px;
    background-color: #070707;
    border-radius: 5px;
    box-shadow: 0 0 10px #0a0a21;
}


#FirstU:hover, #SecondU:hover, #ThirdU:hover, #FourthU:hover, #check:hover, #FirstD:hover, #SecondD:hover, #ThirdD:hover, #FourthD:hover, #FirstT:hover, #SecondT:hover, #ThirdT:hover, #FourthT:hover, #FirstQ:hover, #SecondQ:hover, #ThirdQ:hover, #FourthQ:hover, #FirstC:hover, #SecondC:hover, #ThirdC:hover, #FourthC:hover{
    padding: 21px;
}

input[type=radio] {
    opacity: 0;
    height: 0;
    width: 0;
}

.notclicked{
    padding: 15px;
    margin: 10px;
    text-align: left;
    width: 500px;
    border: 1px solid #04040d;
    border-radius: 3px;
    transition: 0.3s;
    background-color: #0a0a0a;

}

.check {
    margin: 10px;
    text-align: left;
    width: 500px;
    border: 1px solid #070707;
    border-radius: 3px;
    transition: 0.3s;
    background-color: #04040d;
    padding: 15px;
    box-shadow: 0 0 3px #c4c4c4;
}

button {
    width: 90px;
    height: 35px;
    margin-left: 30px;
    margin-top: 20px;
    background-color: #0a0a21;
    border: none;
    color: #c4c4c4;
    border-radius: 3px;
}

button:hover{
    box-shadow: 0 0 3px #c4c4c4;
}

#Resultado {
    color: #c4c4c4;
}

.Quiz img{
    width: 30%;
    margin: 30px;
}
